Schemas/ModLinks.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mm="https://github.com/HollowKnight-Modding/HollowKnight.ModLinks/HollowKnight.ModManager" targetNamespace="https://github.com/HollowKnight-Modding/HollowKnight.ModLinks/HollowKnight.ModManager" elementFormDefault="qualified">

  <xs:element name="ModLinks">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Manifest" type="mm:ManifestType" />
      </xs:sequence>
    </xs:complexType>

    <xs:key name="modName">
      <xs:selector xpath="mm:Manifest"/>
      <xs:field xpath="mm:Name"/>
    </xs:key>
    <xs:keyref name="dependencymodNameRef" refer="mm:modName">
      <xs:selector xpath="mm:Manifest/mm:Dependencies/*"/>
      <xs:field xpath="."/>
    </xs:keyref>
    <xs:keyref name="integrationmodNameRef" refer="mm:modName">
      <xs:selector xpath="mm:Manifest/mm:Integrations/*"/>
      <xs:field xpath="."/>
    </xs:keyref>
  </xs:element>

  <xs:complexType name="ManifestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="mm:NameStringType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Version" type="mm:VersionStringType" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="Links" type="mm:LinksType" />
        <xs:element name="Link" type="mm:SingleLinkType" />
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="Dependencies" type="mm:DepListType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Repository" type="mm:LinkStringType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issues" type="mm:LinkStringType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Integrations" type="mm:IntegrationListType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tags" type="mm:TagListType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Authors" type="mm:AuthorListType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinksType">
    <xs:sequence>
      <xs:element name="Linux" type="mm:SingleLinkType" />
      <xs:element name="Mac" type="mm:SingleLinkType" />
      <xs:element name="Windows" type="mm:SingleLinkType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SingleLinkType">
    <xs:simpleContent>
      <xs:extension base="mm:LinkStringType">
        <xs:attribute name="SHA256" type="mm:ShaStringType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DepListType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Dependency" type="mm:NameStringType" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="NameStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z][^\\/:*?&lt;&gt;&quot;|]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ShaStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{64}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LinkStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="https?://.*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d+\.){3}\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="IntegrationListType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="Integration" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TagListType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="Tag" type="mm:TagType" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TagType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Boss" />
      <xs:enumeration value="Cosmetic" />
      <xs:enumeration value="Expansion" />
      <xs:enumeration value="Gameplay" />
      <xs:enumeration value="Library" />
      <xs:enumeration value="Utility" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AuthorListType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="Author" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
